page-login {

}
.bg{
    background-image: url("../assets/imgs/login-bg.png");
    background-size: 100%;
}
ion-content button{
    width: 250px;
    border-radius: 30px; 
}
.conten{
    padding-top: 20px;
    margin: 0 auto;
    width: 310px;

    // background-color: rebeccapurple;

}
.yanzheng{
    height: 60px;
    width: 150px;
    // background-color:black; 
    display: inline;
    float: left;
}
.yanzheng-button{
    display: inline;
    float: right;
    width: 120px;
    height: 60px;
    // background-color: yellow;
}
.yanzheng-button button{
    width: 100px;
    height: 40px;
    margin-top: 7px;
}
.left-icon{
    height: 60px;
    width: 40px;
    // background-color: orangered;
    display: inline;
    float: left;
}
.right-icon{
    height: 60px;
    width: 270px;
    // background-color: teal; 
    display: inline;
    float: left;
}


.up-input{
    // background-color: green;
    display: inline;
    float: right;
    width: 310px;
    height: 60px;
}
.down-input{
    // background-color: black;
    padding-top: 5px; 
    display: inline;
    float: right;
    width: 310px;
    height: 60px;
}
.down-input{
    padding-top: 10px;
}
.conten input{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom:0.5px solid white;
}
.wodeimg{

}
::-webkit-input-placeholder { /* WebKit browsers */ 
    color:white; 
    font-size: 1.2em;
    font-weight: 200;
    } 
input:focus {  
        color:white;  
        size: 3px;
    }  
.button-up{
    margin-left:20px;
    margin-top: 30px;
}
#aleft{
    display: block;
    float: left;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
}

p{
    color: brown;
    font-size: 16px;
}
p a{
    color: red;
}

#aright{
    display: block;
    float: right;
    text-decoration: none;
    margin:0 auto;
    text-align: center;
}
