page-home {

}
ion-content button{
    width: 200px;
}

.maindiv img{
    margin-left: 30px;
    margin-top: 10px;
}

.maindiv span{
    margin-left: 18px;
    padding-top: 10px;

}

.img-content-top{
    height: 80px;
    width: auto;

}
.img-content-bottom{
    height: 89px;
    width: auto;
    // background-color: yellowgreen;
}
.one{
    width:94px;
    height:80px;
    // background-color:black;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
    
}
.two{
    width:94px;
    height:80px;
    // background-color:yellow;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
}
.three{
    width:94px;
    height:80px;
    // background-color:green;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
}
.four{
    width:92px;
    height:80px;
    // background-color:red;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-right: none;
    border-left: none;
}

.six{
    width:94px;
    height:80px;
    // background-color:black;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
    border-top: none;
}
.five{
    width:94px;
    height:80px;
    // background-color:yellow;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
    border-top: none;
}
.eight{
    width:92px;
    height:80px;
    // background-color:green;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
    border-top: none;
    border-right: none;
}
.seven{
    width:94px;
    height:80px;
    // background-color:red;
    display:inline;
    float: left;
    border:1px solid #E8E8E8;
    border-left: none;
    border-top: none;
}
#spa{
    padding-top: 4px;
}
.list{
    margin-top: 10px;
}

.left p{
    font-size: 12px;
}

.left{
    display: inline;
    float: left;
    width: 100px;
}
.right{
    display: inline;
    float:right;
}
.center{
    display: inline;
    float: left;
    margin-left: 8px;
}
.center-right{
    display: inline;
    float: left;
    margin-left: 10px;
}